@model WebShopMVC.Models.viewmodeluser
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_Menu", Model)


    
    
        
    <div class="container">
        <div class="well-lg"></div>
        
        <div class="row">
            <div class="well col-md-3">Spel</div>
            <div class="well col-md-3">Spel</div>
            <div class="well col-md-3">Spel</div>
            <div class="well col-md-3" >Spel</div>
            
        </div>
    </div>
    
