<div class="container">
    <div class="well-lg"></div>
    <div class="well col-md-12" style="background-color: rgb(255, 255, 255)">
        <div class="row">
        <div class="well col-md-8">SPELNAMN<span class="pull-right">PRIS</span><span class="pull-right">ANTAL</span><span class="pull-right">TOTAL PRIS</span></div>
        <div class="well col-md-4">KÖP KNAPP</div>
        </div>
        <div class="row">
                <div class="well col-md-8">SPELNAMN<span class="pull-right">PRIS</span><span class="pull-right">ANTAL</span><span class="pull-right">TOTAL PRIS</span></div>
                <div class="well col-md-4">KÖP KNAPP</div>

            </div>
</div>
</div>